@charset "UTF-8";
/* Breadcrups CSS */
.main {
  width: 100%;
  border: 1px solid white;
  padding: 20px;
  margin-top: 30px;
  min-height: 400px;
  border-radius: 6px; }

.config-labels {
  width: 400px;
  margin: 20px; }
  .config-labels .txt-label {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    border-radius: 6px;
    background: #f3e2e2;
    width: 200px;
    float: left; }
  .config-labels select {
    float: right;
    width: 150px;
    height: 25px;
    margin-top: 2px; }

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #666;
  cursor: default;
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  min-width: 180px;
  float: left;
  position: relative;
  background-color: #d9e3f7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease; }
  .arrow-steps .step::after, .arrow-steps .step::before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 17px solid #d9e3f7;
    z-index: 2;
    transition: border-color 0.2s ease; }
  .arrow-steps .step::before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0; }
  .arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
    .arrow-steps .step:first-child::before {
      border: none; }
  .arrow-steps .step span {
    position: relative; }
    .arrow-steps .step span::before {
      opacity: 0;
      content: "✔";
      position: absolute;
      top: -2px;
      left: -20px; }
  .arrow-steps .step.current {
    color: #fff;
    background-color: #23468c; }
    .arrow-steps .step.current::after {
      border-left: 17px solid #23468c; }
