{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <META HTTP-EQUIV="EXPIRES" CONTENT="Tue, 13 Jun 2017 02:20:00 GMT">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Deep learning for CIVIL</title>
    
    <!-- cdns -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Muli" rel="stylesheet">

    <!-- static js -->
    <script src="{% static 'js/downloaded_scripts/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/downloaded_scripts/jquery.floatingscroll.min.js' %}"></script>
    <script src="{% static 'js/downloaded_scripts/dropzone.js' %}"></script>
    <script src="{% static 'js/downloaded_scripts/jquery.popupoverlay.js' %}"></script>
    
    <link href="{% static 'css/downloaded_scripts/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/downloaded_scripts/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
    <link href="{% static 'css/downloaded_scripts/heroic-features.css' %}" rel="stylesheet">
    <link href="{% static 'css/downloaded_scripts/jquery.dataTables.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/downloaded_scripts/dropzone.css' %}" rel="stylesheet">
    <link href="{% static 'css/downloaded_scripts/jquery.floatingscroll.css' %}" rel="stylesheet">
    <link href="{% static 'css/downloaded_scripts/jquery-ui-themes-1.12.0/themes/smoothness/jquery-ui.css' %}" rel="stylesheet">

    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script>
        var STATIC_URL = "{% static '' %}"
    </script>
    {% block head_content %}
    {% endblock %}

</head>

<body id="body">
     <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="{%static 'assets/tmv_logo_dark_transparent.png'%}" height="100%" width="auto"></a>
            </div> -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="float:right">
                    <li class="nav-item">
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a id="a-login" onclick="">Login</a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div id="base-main" class="container">
         <!--popup alerts-->
        <div id='popup-alert' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <H2 id='alert_title'></H2>
                        <h4 id='alert_disc'></h4>
                    </div>
                </div>
            </div>
        </div>

        {% block page_content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="footer">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Deep learning civil 2018</p>
                </div>
            </div>
        </footer>
    </div>
</body>
 </html>
